* {
    margin: 0;
    padding: 0;

}

body {
    font-family: cursive;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.image {
    position: relative;
    margin-top: -220px;
    text-align: center;
    margin-left: 40px;

}

.text-button {
    text-align: center;
    margin-top: 30px;
}

.text {
    font-size: 4rem;

}

.short-text {
    font-size: x-large;
    margin-top: 50px;
    color: rgb(40, 94, 96);

}

.button {
    border-radius: 20px;
    padding: 18px;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(238, 238, 238);
    background-color: darkorange;
    margin-top: 18px;
    cursor: pointer;

}



/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */



/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;

        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

}


/* carve style  */

.custom-shape-divider-bottom-1663046968 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663046968 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 302px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1663046968 .shape-fill {
    fill: #FFFFFF;
}

/* image logo style  */

.image-logo {
    margin-top: 50px;
    margin-left: 140px;
    padding: 20px;
    display: flex;
    gap: 60px;
    cursor: pointer;
}

.header-text {
    font-size: 1.8rem;
    font-style: italic;
    color: rgb(5, 111, 109);
    text-align: center;
    margin-top: 30px;
}


/* card desgin medika  */



.center {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* End Non-Essential  */

.property-card {
    height: 18em;
    width: 14em;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 16px;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    cursor: pointer;
}

#card-details {
    gap: 120px;
    margin-top: -70px;
}

.text-card {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;

}

.board-text {
    padding: 7px;
}

/* deshbord  */
.desh-section {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;

}

.img-desh {
    width: 50%;
}

#desh-info {
    margin-left: 40px;
}

.desh-details {
    width: 50%;
    margin-top: 100px;
}

.info-text {
    margin-top: 18px;
}

.book-pro-img {
    margin-left: -30px;
}

#sec-desh {
    margin-top: -40px;
}

#desh-sec2 {
    margin-top: 20px;
}

.bold-text {
    font-size: 2.3rem;
}

.test-text {
    font-size: small;
    color: rgb(59, 6, 181);
}


/* review card  */

.main-container {
    width: 100%;
    min-height: 50vh;
    background-color: #F3FBFB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container {
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pre-next {
    height: 40px;
    width: 40px;
}

.pre-next i {
    font-size: 2.5rem;
    color: #00000030;
    cursor: pointer;
}

.pre-next i:hover {
    transform: scale(1.1);
}

.card {
    width: 200px;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 0 20px #00000010;
    transform: scale(1.1);
}

.card-top p:nth-child(1),
h3 {
    font-family: 'DM Sans', sans-serif;
    /*font-size:1.5em;*/
}

.card-hading {
    padding-bottom: 20px;
}

.card-bottom {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.prof {
    border-radius: 50%;
    background-color: #eee;
}

.prof img {
    width: 40px;
    height: 40px;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.prof-detail {
    padding-left: 10px;
}

.prof-detail p {
    font-family: 'Ephesis', cursive;

}

.ind-dot {
    margin-top: 20px;
    display: flex;
    min-width: 70px;
    padding: 10px;
    justify-content: space-between;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /*border:1px solid;*/
    background-color: #00000038;
    transition: 0.5s;
    cursor: pointer;
}

.dot:hover {
    background-color: #eee;
    outline: 1px solid #00000038;
    transform: scale(1.1);

}

.dot.active {
    background-color: #eff;
    outline: 1px solid #00000038;
    transform: scale(1.1);
}

/* footer section  */
footer {
    background-color: #121315;
    color: #a7a7a7;
    font-size: 16px;
}

footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.row {
    padding: 1em 1em;
}

.row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: stretch;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
}

.footer-text {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
}

.ul-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.li-item:not(:first-child) {
    margin-top: 0.8em;
}

.ul-item .li-item a {
    color: #a7a7a7;
    text-decoration: none;
}

.about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
}

div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
    gap: 4px;
}

.social i {
    color: #bac6d9;
}








@media screen and (max-width: 850px) {
    .row.primary {
        grid-template-columns: 1fr;
    }

}

/* email section  */
#req-text {
    padding: 9px;
}

.text-box {
    margin-left: 50px;
    font-size: 2.2rem;
}

.buttonIn {
    width: 300px;
    position: relative;
}

#enter {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 30px;
    border-radius: 5px;
}

#clear {
    position: absolute;
    padding: 2px;
    top: 0;
    border-radius: 5px;
    right: 0px;
    z-index: 2;
    border: none;
    top: 2px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: darkorange;
    transform: translateX(2px);
}


.box {
    display: grid;
    grid-template-columns: 5fr 2fr;
    border-radius: 16px;
    height: 120px;
    width: 80%;
    margin-left: 100px;
    padding: 10px;

    box-shadow: 20px 20px 50px grey;
    margin-bottom: 20px;
    margin-top: 50px;
}


/* icon  */
.fa-solid {
    padding: 10px;
    color: rgb(32, 208, 70);
}

.fa-square-check {
    color: rgb(4, 2, 117);
}

.fa-quote-left {
    color: rgb(206, 206, 206);
    font-size: 10rem;

}